*{
background-color: white;
}
h1{
    color: blue;
    text-align: center;
    font-weight: 100;
}
.form {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.first p{
    width: 300px;
    text-align: center;
}
footer {
    text-align: center;
    background-color: DarkSalmon;
    padding: 10px;
}